.login-block {
    margin: 30px auto;
}
.login_page{
    height: 100vh;
    width: 100%;
    display: flex;
    .login_place{
        width: 76%;
        height: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
  
        .for_login{
                height: 100%;
                width: 50%;   
                display: flex;
                .login_form{
                    width: 80%;
                    height: 90%;
                    margin:auto;
                    .forma{
                        padding: 0px 20px;
                    .titleOfForm{
                        h3{
                            object-fit: contain;
                            font-family: Arial;
                            font-size: 32px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            text-align: left;
                            color: #858585;
                        }
                        p{  margin-top: 20px;
                            object-fit: contain;
                            font-family: Arial;
                            font-size: 12px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.67;
                            letter-spacing: normal;
                            text-align: left;
                            color: #858585;
                        }
                    }
                    a{
                        color:  #f23d3d;
                    }
                    a:hover{
                        color: #2699fb
                    }
                        
                    }
                }
        }
        .for_image{
            height: 100%;
            width: 50%;
            display: flex;
            .globus_image{
                height: 80%;
                width: 80%;
                margin: auto;
                display: flex;
                align-items: flex-end;
            }
                img{
                    height: 65vh;
                    width: 30vw;
                }
              
            }
        }
    }

.btn-primary, .sweet-alert button.confirm, .wizard>.actions a {
    background-color: #f23d3d;
    border-color: #f23d3d;
    
}
.social_login{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 30px;
    .social_icons{
        width: 20%;
        height: 100%;
        margin: auto;
      
        display: flex;
        justify-content: space-between;
        .gmail_icon{
            width: 48%;
            height: 100%;
            display: flex;
            cursor:pointer;
            .circle_of_gm{
                width: 70%;
                height: 85%;
                border-radius: 50%;
                background: #f23d3d;
                margin: auto
            }
        }
        .facebook_icon{
            width: 48%;
            height: 100%;
            display: flex;
            cursor:pointer;
            .circle_of_fb{
                width: 70%;
                height: 85%;
                border-radius: 50%;
                background: #2699fb;
                margin: auto
            }
        }
    }
}
.forPlaceholder::placeholder{
  font-size: 12px !important;
  font-weight: bold !important;
  color: #858585 !important;
}
:host ::ng-deep .mat-radio-label-content{
    font-weight: 500;
    color: #4a4a4ae0;
    margin-right: 15px;
    padding-left: 12px
  }
  :host ::ng-deep .mat-radio-button:not(.mat-checkbox-disabled).mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #f23d3d;
  }

  
:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #f23d3d;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #f23d3d;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .login_page{
        .login_place{
            width: 90%;
            .for_login{
                    height: 100%;
                    width: 50%;   
                    display: flex;
                    .login_form{
                        width: 90%;
                        height: 90%;
                        margin:auto;
                    }
            }
            .for_image{
             
                .globus_image{
                
                    width: 90%;
                   
                }
                    img{
                        height: 65vh;
                        width: 40vw;
                    }
                  
                }
            }
        }
   
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .login_page{
        .login_place{
            width: 99%;
            .for_login{
                    height: 100%;
                    width: 50%;   
                    display: flex;
                    .login_form{
                        width: 100%;
                        height: 86%;
                        margin: auto;
                    }
            }
            .for_image{
             
                .globus_image{
                    height: 84%;
                    width: 100%;
                   
                }
                    img{
                        height: 55vh;
                        width: 45vw;
                        margin: 0 auto;
                    }
                  
                }
            }
        }
   

}

@media only screen and (min-width: 562px) and (max-width: 841px) {
    .login_page{
        .login_place{
            width: 99%;
            .for_login{
                    height: 100%;
                    width: 50%;   
                    display: flex;
                    .login_form{
                        width: 100%;
                        height: 95%;
                        margin: auto;
                    }
            }
            .for_image{
             
                .globus_image{
                    height: 84%;
                    width: 100%;
                   
                }
                    img{
                        height: 55vh;
                        width: 45vw;
                        margin: 0 auto;
                    }
                  
                }
            }
        }
   
}

@media only screen and (min-width: 0px) and (max-width: 562px) {
    .login_page{
        .login_place{
            width: 99%;
            .for_login{
                    height: 100%;
                    width: 100%;   
                    display: flex;
                    .login_form{
                        width: 90%;
                        height: 90%;
                        margin: auto;
                    }
            }
            .for_image{
                display: none;
               
                  
                }
            }
        }
}