<!-- 
<section class="login-block">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <form class="md-float-material form-material" [formGroup]="registrationForm">

                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Registration</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" name="username" class="form-control" formControlName="username" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Username</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('username').hasError('required') && registrationForm.get('username').touched">Username required</span>
                            <div class="form-group form-primary">
                                <input type="text" name="email" class="form-control" formControlName="email" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Email </label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('email').hasError('required') && registrationForm.get('email').touched">Email required</span>
                            <div class="form-group form-primary">
                                <input type="text" name="phoneNum" class="form-control" formControlName="phoneNum" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Phone Number</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('phoneNum').hasError('required') && registrationForm.get('phoneNum').touched">Phone number required</span>
                            <div class="form-group form-primary">
                                <input type="text" name="address" class="form-control" formControlName="address" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Address</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('address').hasError('required') && registrationForm.get('address').touched">Address required</span>

                            <div class="form-group form-primary">
                                <input type="text" name="age" class="form-control" formControlName="age" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Age</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('age').hasError('required') && registrationForm.get('age').touched">Age required</span>
                            <div class="form-group form-primary">
                                <input type="text" name="city" class="form-control" formControlName="city" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">City</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('city').hasError('required') && registrationForm.get('city').touched">City required</span>
                            <div class="form-group form-primary">
                                <input type="text" name="country" class="form-control" formControlName="country" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Country</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('country').hasError('required') && registrationForm.get('country').touched">Country required</span>
                            <div class="form-group form-primary">
                                <input type="text" name="zipCode" class="form-control" formControlName="zipCode" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Zip Code</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('zipCode').hasError('required') && registrationForm.get('zipCode').touched">Zip code required</span>
                            <div class="form-group form-primary">
                                <input type="password" name="password" class="form-control" formControlName="password" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Password</label>
                            </div>
                            <span class="text-danger" *ngIf="registrationForm.get('password').hasError('required') && registrationForm.get('password').touched">Password required</span>

         
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius>Register</button>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                                    <p class="text-inverse text-left">
                                        <a [routerLink]="['/main']">
                                            <b>Back to website</b>
                                        </a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>

</section> -->
<div class="login_page">
    <div class="login_place">
        <div class="for_image">
            <div class="globus_image">
                <img src="/assets/assets/images/registration.jpg" alt="">
            </div>
        </div>
        <div class="for_login">
            <div class="login_form">
                <form class="md-float-material form-material forma" [formGroup]="registrationForm">


                    <div class="row ">
                        <div class="col-md-12 titleOfForm">
                            <h3>STATE YOUR VACATION WITH THE AIRLINES</h3>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting.Lorem Ipsum has been the indust
                            </p> -->
                        </div>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="username" placeholder="Username">
                        </mat-form-field>
                    </div>

                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="email" placeholder="E-mail">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                            <mat-radio-group formControlName = "gender">
                                <mat-radio-button value="male">Male</mat-radio-button>
                                <mat-radio-button value="female">Female</mat-radio-button>
                              </mat-radio-group>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="address" placeholder="Address">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="phoneNum" placeholder="Phone number">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="age" placeholder="Age">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country">
                                <mat-option *ngFor="let country of countries" [value]="country.name">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="city" placeholder="City">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input matInput formControlName="zipCode" placeholder="Zip code">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input type = "password" matInput formControlName="password" placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div class="form-primary">
                        <mat-form-field width-percent-100>
                            <input type="password" matInput formControlName="repeatPassword" placeholder="Repeat password">
                        </mat-form-field>
                        <span *ngIf="matchingPasswordsError" class="text-danger">{{matchingPasswordsError}}</span>
                    </div>
                    <div class="row m-t-15 ">
                        <div class="col-md-12">
                            <button (click) = "postClientDatasForRegistration()" type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-5" mdbRippleRadius font-weight-bold>REGISTER</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-inverse text-left">
                                <a (click)="navigateToMainPage()">
                                    <b>Back to website</b>
                                </a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>