<div class="citiesList">
    <div class="countryNameAndPhoto">
        <div class="opacity">
                <div class="container">
                        <div class="countryName">
                                <span>Armenia</span>
                            </div>
                </div>
        </div>
        
       
    </div>
    <div class="container">
        <div class="listOfCities">
            <div class="itemOfCity" *ngFor = "let item of citiesList">
                <div class="item" (click) = "goToPageOfCity(item.id)">
                    <div class="imageOfCity" [ngStyle]="{'background-image':'url('+ item.mainImage +')'}"></div>
                    <div class="shortInfoOfCity">
                        <div class="title">
                            <span>{{item.name}}</span>
                        </div>
                        <div class="text">
                            <span>{{item.description | truncate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>