.citiesList{
    width: 100%;
    height: 100vh;
    .countryNameAndPhoto{
        width: 100%;
        height: 300px;
        background-image: url('/assets/assets/images/yere1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: inherit;
        box-shadow: 0 0px 10px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    
        .opacity{

            width: 100%;
            height: 100%;
            background: #0000004a;
            .container{
                z-index: 99999;
                .countryName{
                    
                    padding: 50px 0px 0px 20px;
                    span{
                        color: White;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: serif
    
                    }
                
                }
            }
        }
    }
    .container{
        height: 100vh;
        width: 100%;
        .listOfCities{
            width: 100%;
            display: flex;
            padding-top: 20px;
             flex-wrap: wrap;
            .itemOfCity{
                width: 25%;
                height: 300px;
                display: flex;
                .item{
                    width: 92%;
                    height: 90%;
                    margin: auto;
                    display: block;
                    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05), 0 0px 1px 0px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0);
                    transition: all 0.8s;
                    cursor: pointer;
                    .imageOfCity{
                        width: 100%;
                        height: 60%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: inherit;
                    }

                }
                .item:hover{
                    box-shadow: 0 0 25px -5px #9e9c9e;
                    transform: scale(0.9,0.9);
                }
                .shortInfoOfCity{
                    padding: 15px;
                    .title{
                        span{
                            font-weight: bold;
                            color: #455f6b;
                            font-size: 15px
                        }
                    }
                    .text{
                        margin-top: 5px;
                        span{
                            color: #455f6b
                        }
                    }
                }
            }
        }
    }
}