.top_bar{
    width: 100%;
    height: 261px;
    display: flex;
    align-items: flex-end;
    .bar{
       width: 80%;
       margin: 0 auto;
       height: 50%;
       border-bottom: 3px solid #2699fb;
        h1{
        font-family: Arial;
        font-size: 32px;
        font-weight: bold;
        color: #858585;
       }
    }
}