<div class="header">
    <div class="container">
        <main-header></main-header>
        <search-smth></search-smth>

        <div class="description">
            <span>STATE YOUR VACATION WITH THE AIRLINES</span>
        </div>
        <div class="banner">
            <div class="img">
                <div class="box-container" fxLayout="column" style="max-height: 100%">

                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" (click)="onClick()">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <img class="imgStyle" src="assets/assets/images/NoPath — копия (38)@2x.jpg" alt="">
                                    <div class="infoOfImg">
                                        <div class="textPlace">
                                            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
                                            <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                                the 1500s,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" (click)="onClick()">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <img class="imgStyle" src="assets/assets/images/nkar4.jpg" alt="">
                                    <div class="infoOfImg">
                                        <div class="textPlace">
                                            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
                                            <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                                the 1500s,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide" (click)="onClick()">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <img class="imgStyle" src="assets/assets/images/nkar5.jpg" alt="">
                                    <div class="infoOfImg">
                                        <div class="textPlace">
                                            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
                                            <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                                the 1500s,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" (click)="onClick()">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <img class="imgStyle" src="assets/assets/images/NoPath — копия (38)@2x.jpg" alt="">
                                    <div class="infoOfImg">
                                        <div class="textPlace">
                                            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
                                            <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                                the 1500s,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" (click)="onClick()">
                                <div fxLayout="column" fxLayoutAlign="center center">
                                    <img class="imgStyle" src="assets/assets/images/nkar1.jpg" alt="">
                                    <div class="infoOfImg">
                                        <div class="textPlace">
                                            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
                                            <p>industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                                the 1500s,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="aboveLine"></div>
                        <div class="swiper-pagination"></div>
                        <div class="underLine"></div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>