.header{
	width: 100%;
	height: 400px;
	background: #2699fb;
	.container{
		padding-top: 47px;
		height: 100%;
		position: relative;
		.banner{
		    width: 97.4%;
            height: 583px;
			position: absolute;
			border-radius: 10px;
            top: 345px;
			background: white;
			display: flex;
			.img{
				width: 93%;
				height: 87%;
				border-radius: 10px;
				margin: auto;
				img{
					width: 100%;
					height: 100%;
					border-radius: 10px;
				}
			}
		}
	}
	
}

	.aboveLine{
		position: absolute;
		height:62px;
		width:2px;
		background:#7f7f7f;
		right: 43px;
		top:calc(50% - 104px);
		z-index: 11;
	}
	.underLine{
		position: absolute;
		height:62px;
		width:2px;
		background:#7f7f7f;
		right: 43px;
		bottom:calc(50% - 104px);
		z-index: 11;
	}
	
	.infoOfImg{
	    height: 100%;
    	width: 100%;
    	position: absolute;
		z-index: 999;
		display: flex;
		.textPlace{
			width: 92%;
			height: 60%;
			margin: auto;
		
				h3{
				    width: 70%;
					font-family: Arial;
					font-size: 42px;
					font-weight: bold;
					text-align: left;
					color: #858585;
				}
				p{ 
				    width: 49%;
					font-family: Arial;
					font-size: 27px;
					font-weight: bold;
					text-align: left;
					color: #858585;
				}
		}
	}
	.imgStyle {
		max-height: 507px;
		min-height: 507px
	}
	
	.description{
		margin-top: 59px;
		width: 100%;
		display: flex;
		span{
			margin: auto;
			object-fit: contain;
			font-family: Arial;
			font-size: 42px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 0.29;
			letter-spacing: normal;
			color: #ffffff;
		}
	
	}
