<div class="container_page">
    <div class="container">

       
        <div class="profile_place">
            <div class="menu_bar">
                <div class="user_image_info">
                    <div class="image_container">
                        <div class="image">
                            <img src="assets/assets/images/profile.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="profile_name">
                    <div class="profile_name_container">
                        <div class="name">
                            <div class="text">
                                <span>{{clientInfo?.email}}</span>
                            </div>
                            <!-- <div class="icon">
                                <i class="fas fa-sort-down icn"></i>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="main_manu">
                    <div class="items" *ngFor="let item of menuFields">
                        <div class="itm">
                            <a [routerLink]="item.routerLink" routerLinkActive="active">{{item.name}}</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="itm">
                            <a (click) = "clickToLogOut()">LOG OUT</a>
                        </div>
                    </div>
                   

                </div>
            </div>
            <div class="menu_item_bar">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
