.container_page{
    height: 100vh;
    width: 100%;
    .container{
        height: 100%;
        .profile_place{
            height: 100%;
            width: 100%;
         
            display: flex;
            .menu_bar{
                height: 100%;
                width: 25%;
                background: #2699fb;
                .user_image_info{
                    width: 100%;
                    height: 215px;
                    display: flex;
                    .image_container{
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;
                        background: white;
                        margin: 90px auto 0px auto;
                        display: flex;
                        .image{
                            margin: auto;
                            height: 90%;
                            width: 90%;
                            border-radius: 50%;
                            img{
                                height: 100%;
                                width: 100%
                            }
                            
                        }
                    }
                   
                }
                .profile_name{
                    width: 100%;
                    height: 5%;
                    display: flex;
                    .profile_name_container{
                        width: 85%;
                        margin: auto;
                        height: 100%;
                        display: flex;
                        border-bottom: 3px solid white;
                        .name{
                            width: 100%;
                            height: 40%;
                            margin: 0 auto;
                            display: flex;
                            .text{
                                display: flex;
                                width: 80%;
                                height: 100%;
                                margin: auto;
                                span{
                                    margin: auto;
                                    font-family: Arial;
                                    font-size: 12px;
                                    font-weight: bold;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.67;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #ffffff;
                                }
                            }
                            .icon{
                                display: flex;
                                width: 20%;
                                height: 100%;
                                .icn{
                                    margin: auto;
                                    color: #ffffff;
                                    margin-bottom: 7px
                                }
                            }

                        }
                    }
                }
                .main_manu{
                    width: 100%;
                    height: 50%;
                    padding-top: 30px;
                    .items{
                        width: 80%;
                        margin: 0 auto;
                        .itm{
                            width: 100%;
                            height: 10%;
                            margin: 0 auto;
                            padding: 6px 0px 6px 45px;
                            a{
                                object-fit: contain;
                                font-family: Arial;
                                font-size: 12px;
                                font-weight: bold;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: normal;
                                text-align: left;
                                color: #ffffff;
                            }
                            a:hover{
                                cursor: pointer;
                                border-bottom: 1px solid #ffffff;
                            }
                        }
                    }
                }

            }
            .menu_item_bar{
                height: 100%;
                width: 75%;
            }
        }
    }
   
}

.active{
    border-bottom: 1px solid #ffffff
}
.header{
    width: 100%;
	height: 200px;
	background: #2699fb;
}