.info_bar{
    width: 80%;
    height: 70%;
    margin: 0 auto;
   .item{
       width: 100%;
       height: auto;
       display: flex;
            .userDatas{
                width: 20%;
                height: 100%;
                padding-left: 10px;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #858585;
                }
            }
            .userDatasValue{
                width: 80%;
                height: 100%;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #858585;
                }
            
            }
        }
    
    

}
.btn-1 {
    border: none;
    cursor: pointer;
    width: 40%;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    background-color: #2699fb;
    padding: 3px 0px 10px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  }
  
  .btn-1 span {
    position: relative;
    z-index: 1;
  }
  
  .btn-1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(0);
    transform: translateX(-100%) translateY(-25%) rotate(0);
  }
  
  .btn-1:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(0);
    transform: translateX(-9%) translateY(-25%) rotate(0);
  }
  
  .btn-1:hover {
    span {
      color: #2699fb
    }
  
  }
  
  .btn-1 i {
    font-size: 15px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    font-weight: bold;
  }
  
  .btn-1:hover {
    i {
      color: #2699fb
    }
  
  }
  .fa-long-arrow-right {
    margin-left: 1em;
    margin-top: 0.8em;
  }
  
  .button_place{
     margin-top: 120px;
     display: flex;
     align-items: flex-end;
     flex-direction: column;
  }