<profile-item-top-place [title]="topBarTitle"></profile-item-top-place>
<div class="info_bar" padding-top-30>
    <form [formGroup] = "settingsForm">
        <div class="item" *ngFor="let item of datas">
            <div class="userDatas">
                <span>{{item.name}}:</span>
            </div>
            <div class="userDatasValue">
                <mat-form-field width-percent-50 style="margin-top: -20px" *ngIf = "item.controlname != 'country'">
                    <input matInput [formControlName]="item.controlname" >
                </mat-form-field>
                <mat-form-field width-percent-50  style="margin-top: -20px" *ngIf = "item.controlname == 'country'">
                    <mat-select [formControlName]="item.controlname">
                        <mat-option *ngFor="let country of countries" [value] = "country.name">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="button_place">
        <button class="btn-1">
            <span>Save changes</span>
            <i class="fa fa-long-arrow-right"></i>
          </button>
    </div>
</div>
