<div class="bottom_footer">
    <div class="container">
        <div class="logo">
            <div class="logo_name">
                <span>LOGO</span>
            </div>
        </div>
        <div class="line1">
            <div class="line1_text">
                <a href="">
                    <span>CONTACT </span>
                </a>
                <a href="">
                    <span>ABOUT US </span>
                </a>
                <a href="">
                    <span>SERVICES </span>
                </a>
                <a href="">
                    <span>STATISTICA</span>
                </a>
            </div>
        </div>
        <div class="line2">
            <div class="line2_text">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, </span>
            </div>
        </div>
        <div class="line1">
            <div class="line1_text">
                <a href="">
                    <span>CONTACT </span>
                </a>
                <a href="">
                    <span>ABOUT US </span>
                </a>
                <a href="">
                    <span>SERVICES </span>
                </a>
                <a href="">
                    <span>STATISTICA</span>
                </a>
            </div>
        </div>
        <div class="line2">
            <div class="line2_text">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, </span>
            </div>
        </div>

    </div>
</div>