.bottom_footer{
    height: 310px;
    width: 100%;
    background: #2699fb;
    .container{
        display: flex;
        height: 100%;
        .logo{
            width: 15%;
            height: 100%;
            display: flex;
            .logo_name{
                height: 60%;
                margin: auto 0px;
                span{
                    font-family: Arial;
                    font-size: 42px;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }
        .line1{
            width: 15%;
            height: 100%;
            display: flex;
            .line1_text{
                height: 36%;
                width: 70%;
                margin: 80px 20px;
                display: grid;
                a{
                    font-family: Arial;
                    font-size: 12px;
                    text-align: left;
                    color: #ffffff;
                }
                a:hover{
                    span{
                        border-bottom: 1px solid white;
                        cursor: pointer
                    }
                   
                }
            }
        }
        .line2{
            width: 20%;
            height: 100%;
            display: flex;
            .line2_text{
                height: fit-content;
                width: 56%;
                margin: 74px 10px;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }

    }
}