<div class="searching_bar">
    <div class="from">
        <div>
            <input type="text" placeholder="From" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">
        </div>
        <!--  -->
    </div>
    <div class="to">
        <input type="text" placeholder="To" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">
    </div>
    <div class="date">
        <div class="form-group">
            <input placeholder="Range of days" type="text" name="daterange" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control rangedate"
                [locale]="{applyLabel: 'ok', format: 'DD/MM/YY'}" />
        </div>
    </div>
    <div class="count_of_days">
        <input OnlyNumber="true" type="text" placeholder="Count of days">
    </div>
    <div (clickOutside)="onClickedOutside($event)" class="count_of_passangers">
        <!-- <input type="text" placeholder="Count of passangers"> -->
        <div class="itemPlace" (click)="openPassangersCountList()">
            <div class="countNumber">
                <span>{{generalCount}},</span>
            </div>
            <div class="classText">
                <span>{{ticketType}}</span>
            </div>
            <div class="arrowIcon">
                <i class="fa fa-sort-up" *ngIf="countsList"></i>
                <i class="fa fa-sort-down" *ngIf="!countsList"></i>
            </div>
        </div>
        <div class="passangersCountList" *ngIf="countsList">
            <div class="list">
                <div class="passangers">
                    <div class="adults">
                        <div class="textAboutAdults">
                            <span font-weight-600 color-grey>Adults</span>
                            <span color-light-grey font-size-13>Over 12 years</span>
                        </div>
                        <div class="countOfAdultsAscAndDescBtns">
                            <div class="contain">
                                <div class="descending" display-flex>
                                    <i class="fa fa-minus-square" margin-auto font-size-26 color-red cursor-pointer (click)="descendingAdult()"></i>
                                </div>
                                <div class="count" display-flex>
                                    <span margin-auto class="countValue">{{adultsCount}}</span>
                                </div>
                                <div class="ascending" display-flex>
                                    <i class="fa fa-plus-square" margin-auto font-size-26 color-blue cursor-pointer (click)="ascendingAdult()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="children">
                        <div class="textAboutChildren">
                            <span font-weight-600 color-grey>Children</span>
                            <span color-light-grey font-size-13>2 to 12 years</span>
                        </div>
                        <div class="countOfChildrenAscAndDescBtns">
                            <div class="contain">
                                <div class="descending" display-flex>
                                    <i class="fa fa-minus-square" margin-auto font-size-26 color-red cursor-pointer (click)="descendingChildren()"></i>
                                </div>
                                <div class="count" display-flex>
                                    <span margin-auto class="countValue">{{childrenCount}}</span>
                                </div>
                                <div class="ascending" display-flex>
                                    <i class="fa fa-plus-square" margin-auto font-size-26 color-blue cursor-pointer (click)="ascendingChildren()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="babies">
                        <div class="textAboutBabies">
                            <span font-weight-600 color-grey>Babies</span>
                            <span color-light-grey font-size-13>Up to 2 years</span>
                        </div>
                        <div class="countOfBabiesAscAndDescBtns">
                            <div class="contain">
                                <div class="descending" display-flex>
                                    <i class="fa fa-minus-square" margin-auto font-size-26 color-red cursor-pointer (click)="descendingBabies()"></i>
                                </div>
                                <div class="count" display-flex>
                                    <span margin-auto class="countValue">{{babiesCount}}</span>
                                </div>
                                <div class="ascending" display-flex>
                                    <i class="fa fa-plus-square" margin-auto font-size-26 color-blue cursor-pointer (click)="ascendingBabies()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="classOfTicket">
                    <mat-radio-group aria-label="Select an option" display-grid [(ngModel)]="ticketType">
                        <mat-radio-button value="Economy">Economy</mat-radio-button>
                        <mat-radio-button value="Comfort">Comfort</mat-radio-button>
                        <mat-radio-button value="Bussiness">Bussiness</mat-radio-button>
                        <mat-radio-button value="First class">First class</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="class">
        <input type="text" placeholder="Class">
    </div> -->
    <button class="confirm_button" cursor-pointer (click)="onClickSearch()">
        <span>SEARCH</span>
    </button>

</div>