.searching_bar{
    width: 100%;
    height: 45px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    .from{
        width: 16%;
        height: 100%;
        background: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        input{
            width: 85%;
            margin: 10px;
            border: none;
        }
    }
    .to{
        width: 16%;
        height: 100%;
        background: white;
        input{
            width: 85%;
            margin: 10px;
            border: none;
        }
    }
    .date{
        width: 17%;
        height: 100%;
        background: white;
        input{
            width: 85%;
            margin: 10px;
            border: none;
           }
    }
    .count_of_days{
        width: 13%;
        height: 100%;
        padding: 10px;
        background: white;
        input{
            width: 95%;
            border: none;
           }
    }
    .count_of_passangers{
        width: 22%;
        height: 100%;
        background: white;
        position: relative;
        .itemPlace{
            width: 100%;
            height: 100%;
            display: flex;
            .countNumber{
                width: 15%;
                height: 100%;
                display: flex;
                span{
                    margin: auto
                }
           
            }
            .classText{
                width: 65%;
                height: 100%;
                display: flex;
                span{
                    margin: auto 0
                }
             
            }
            .arrowIcon{
                width: 20%;
                height: 100%;
                display: flex;
                .fa-sort-up{
                    margin: 18px auto;
                    color: #858585;
                }
                .fa-sort-down{
                    margin: 14px auto;
                    color: #858585;
                }
            }
        }
        .passangersCountList{
            position: absolute;
            height: 330px;
            width: 100%;
            background: #ffffff;
            z-index: 9999;
            top: 47px;
            display: flex;
            box-shadow: 0 5px 15px rgba(0,0,0,0.30);
            .list{
                width: 90%;
                height: 90%;
                margin: auto;
                display: block;
                .passangers{
                    width: 95%;
                    height: 50%;
                    margin: auto;
                    border-bottom: 1px solid #8585857d;
                    display: block;
                    .adults{
                        width: 100%;
                        height: 30%;
                        margin-bottom: 5px;
                        display: flex;
                        .textAboutAdults{
                            width: 50%;
                            height: 100%;
                            display: grid
                        }
                        .countOfAdultsAscAndDescBtns{
                            width: 50%;
                            height: 100%;
                            display: flex;

                            .contain{
                                width: 80%;
                                height: 80%;
                                margin: auto;
                                display: flex;
                                .descending{
                                    width: 35%;
                                    height: 100%;
                                }
                                .count{
                                    width: 30%;
                                    height: 100%;
                                    .countValue{
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: #373a3c;
                                    }
                                }
                                .ascending{
                                    width: 35%;
                                    height: 100%;
                                }

                            }
                        }

                    }
                    .children{
                        width: 100%;
                        height: 30%;
                        margin-bottom: 5px;
                        display: flex;
                        .textAboutChildren{
                            width: 50%;
                            height: 100%;
                            display: grid
                        }
                        .countOfChildrenAscAndDescBtns{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            .contain{
                                width: 80%;
                                height: 80%;
                                margin: auto;
                                display: flex;
                                .descending{
                                    width: 35%;
                                    height: 100%;
                                }
                                .count{
                                    width: 30%;
                                    height: 100%;
                                    .countValue{
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: #373a3c;
                                    }
                                }
                                .ascending{
                                    width: 35%;
                                    height: 100%;
                                }

                            }
                        }

                       
                    }
                    .babies{
                        width: 100%;
                        height: 30%;
                        margin-bottom: 5px;
                        display: flex;
                        
                        .textAboutBabies{
                            width: 50%;
                            height: 100%;
                            display: grid
                          
                        }
                        .countOfBabiesAscAndDescBtns{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            .contain{
                                width: 80%;
                                height: 80%;
                                margin: auto;
                                display: flex;
                                .descending{
                                    width: 35%;
                                    height: 100%;
                                }
                                .count{
                                    width: 30%;
                                    height: 100%;
                                    .countValue{
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: #373a3c;
                                    }
                                }
                                .ascending{
                                    width: 35%;
                                    height: 100%;
                                }

                            }
                        }
                       
                    }
                }
                .classOfTicket{
                    width: 95%;
                    height: 50%;
                    padding: 15px 10px;
                   
                }
            }
        }
        // input{
        //     width: 85%;
        //     margin: 10px;
        //     border: none;
        //    }
    }
    // .class{
    //     width: 14%;
    //     height: 100%;
    //     background: white;
    //     input{
    //         width: 85%;
    //         margin: 10px;
    //         border: none;
    //        }
    // }
    .confirm_button{
        width: 14%;
        height: 100%;
        background: #f23d3d;
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 0;
        span{
            margin: auto;
            color: white
        }
    }


    
}
.description{
    margin-top: 59px;
    width: 100%;
    display: flex;
    span{
        margin: auto;
        object-fit: contain;
        font-family: Arial;
        font-size: 42px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.29;
        letter-spacing: normal;
        color: #ffffff;
    }

}
:host ::ng-deep .md-drppicker .btn {
  
    background-color: #f23d3d;
   
}
:host ::ng-deep .md-drppicker td.active, .md-drppicker td.active:hover {
    background-color: #f23d3d !important;

}
.md-drppicker td.active, .md-drppicker td.active:hover {
    background-color: #f23d3d !important;
  
}
.rangedate{
    margin: 0px !important;
    width: 100% !important;
    height: 45px !important
}
:host ::ng-deep .md-drppicker .btn:hover {
    background-color: #f23d3d !important;
}
input{
    color: #495057;
    font-size: 15px
}
:host ::ng-deep .mat-radio-label-content{
    font-weight: 600;
    color: #4a4a4ae0;
    padding-left: 12px
  }
  :host ::ng-deep .mat-radio-button:not(.mat-checkbox-disabled).mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #2699fb;
  }

  
:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2699fb;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #2699fb;
}