<section class="login-block">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <form class="md-float-material form-material"  [formGroup] = "forgotForm">
          
            <div class="auth-box card">
              <div class="card-block">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center">Forgot password?</h3>
                  </div>
                </div>
                <div class="form-group form-primary">
                  <input type="text" name="email" class="form-control"  formControlName="email" required="">
                  <span class="form-bar"></span>
                  <label class="float-label">Your Email Address</label>
                </div>
                <span class="text-danger" *ngIf="forgotForm.get('email').hasError('required') && forgotForm.get('email').touched">Email required</span>
               
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button background-blue color-white type="button" class="btn btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius>Enter</button>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                    <p class="text-inverse text-left "><a class="backToLogin" [routerLink]="['/login']"><b>Back to LogIn</b></a></p>
                  </div>
                
                </div>
              </div>
            </div>
          </form>
         
        </div>
      
      </div>

    </div>

  </section>