.header{
	width: 100%;
	height: 220px;
    background: #2699fb;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.30);
	.container{
		padding-top: 47px;
        height: 100%;
        
       
    }

    }

    .countriesList{
        width: 100%;
        height: fit-content;
        .container{
            height: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            #regions_div{
                margin: auto;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.30);
            }
            .countries{
                width: 90%;
                margin: auto;
                margin-bottom: 15px;
                span{
                    color: #9E9E9E;
                    font-size: 27px;
                    font-weight: 700;
                }
            }
    
         }
    }