<div class="header">
  <div class="container">
    <main-header></main-header>
    <search-smth></search-smth>

  </div>
</div>
<div class="countriesList">
  <div class="container">
    <div class="countries">
      <span>Countries</span>
    </div>
    <div  id="regions_div" style="width: 1000px; height: 600px;"></div>
  </div>
</div>
<footer></footer>