.info_bar{
    width: 80%;
    height: 70%;
    margin: 0 auto;
   .item{
       width: 100%;
       height: auto;
       padding-top: 10px;
       display: flex;
       
            .userDatas{
                width: 20%;
                height: 100%;
                padding-left: 10px;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #858585;
                }
            }
            .userDatasValue{
                width: 80%;
                height: 100%;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #858585;
                }
            
            }
        }
    
    

}