<profile-item-top-place [title] = "topBarTitle"></profile-item-top-place>
<div class="info_bar" padding-top-30>
    <div class="item" *ngFor = "let item of datas">
            <div class="userDatas">
                    <span>{{item?.name}}:</span>
                </div>
                <div class="userDatasValue">
                    <span>{{item?.value}}</span>
                </div>
    </div>
   
</div>
