<div class="header">
    <div class="container">
        <main-header></main-header>
        <search-smth></search-smth>

    </div>
</div>
<div class="cityInfoPlace">
    <div class="container">
        <div class="infoCardOfCity">
            <div class="user_image_info">
                <div class="image_container">
                    <div class="image">
                        <div  border-radius-50  [ngStyle]="{'background-image':'url('+ cityDatas.mainImage +')'}" alt=""></div>
                    </div>
                </div>

            </div>
            <div class="nameOfCity">
                <span>{{cityDatas.name}}</span>
            </div>
            <hr width-percent-85 style="border-top: 1px solid #ffff">
            <div class="textAboutCity">
                <span>{{cityDatas.description}}
                </span>
            </div>
            <div class="mapik">
                <div id="map"></div>

            </div>
            
        </div>
        <div class="picturesquePlacesOfCity">
            <mat-tab-group>
                <mat-tab label="Museums"> Museums</mat-tab>
                <mat-tab label="Theatres"> Theatres </mat-tab>
                <mat-tab label="Restaurants"> Restaurants </mat-tab>
                <mat-tab label="Hotels"> Hotels </mat-tab>
                <mat-tab label="Parks"> Parks </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>