.header{
	width: 100%;
	height: 220px;
    background: #2699fb;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.30);
	.container{
		padding-top: 47px;
        height: 100%;
       
    }

    }
    .cityInfoPlace{
        width: 100%;
        height: 600px;
        .container{
            width: 100%;
            margin-top:20px;
            display: flex;
            justify-content: space-between;
            .infoCardOfCity{
                width: 25%;
                height: 600px;
                background: #2699fb;
                border-radius: 6px;
                .user_image_info{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    .image_container{
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;
                        background: white;
                        margin: 20px auto 0px auto;
                        display: flex;
                        .image{
                            margin: auto;
                            height: 90%;
                            width: 90%;
                            border-radius: 50%;
                            div{
                                height: 100%;
                                width: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            
                        }
                    }  
                }
                .nameOfCity{
                    width: 100%;
                    display: flex;
                    margin-top: 10px;
                    span{
                        margin: auto;
                        font-size: 20px;
                        font-weight: 600;
                        color: #ffffff;
                    }
                }
                .textAboutCity{
                    width: 85%;
                    height: 180px;
                    color: #ffffff;
                    margin: 0 auto;
                    span{
                        font-size: 13px
                    }

                }
                .mapik{
                    width: 90%;
                    margin: 0 auto;
                    #map{
                        width: 100%;
                        height: 200px;
                     
                    }
                }
               
            }

            .picturesquePlacesOfCity{
                width: 72%;
                height: 700px;
            }
        }
   
    }
    :host ::ng-deep .mat-tab-label {
      opacity: 1;
      color: #2699fb;
      min-width: 130px;
    
    }
    // :host ::ng-deep .mat-tab-label .mat-tab-label-content {
    //     font-weight: 700
    // }
    :host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #2699fb;
    }
    :host ::ng-deep mat-ink-bar{
        width: 130px !important
    }
  