.header{
	width: 100%;
	height: 220px;
    background: #2699fb;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.30);
	.container{
		padding-top: 47px;
        height: 100%;
       
    }

    }
    .container{
        height: 500px;
        .card{
            height: 300px;
            margin: auto;
            width: 70%;
            margin-top: 30px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }