<div class="header">
    <div class="container">
        <main-header></main-header>
        <search-smth></search-smth>
    </div>
</div>

<div class="container">
    <div class="card">
        <!-- <img src="/assets/assets/images/kartochkek.JPG" alt=""> -->
        
    </div>
   
</div>
<footer></footer>