*[display-flex]{
    display: flex
}
*[cursor-pointer]{
    cursor: pointer
}
*[color-red]{
    color: #f23d3d;
}
*[color-blue]{
    color: #2699fb
}
*[background-blue]{
    background: #2699fb
}
*[width-percent-100]{
    width: 100%;
}
*[font-weight-bold]{
    font-weight: bold
}
*[height-percent-100]{
    height: 100%
}
*[margin-top-35]{
    margin-top: 35px
}
*[padding-top-30]{
    padding-top: 30px
}
*[width-percent-50]{
    width: 50%
}
*[width-percent-80]{
    width: 80%
}
*[height-percent-100]{
    height: 100%
}
*[cursor-pointer]{
    cursor: pointer
}
*[font-weight-600]{
    font-weight: 600
}
*[color-grey]{
    color: #4a4a4ae0
}
*[color-light-grey]{
   color: #858585c7;
}
*[font-size-13]{
    font-size: 13px
}
*[margin-auto]{
    margin: auto
}
*[font-size-26]{
    font-size: 26px
}
*[display-grid]{
    display: grid
}
*[color-white]{
    color: white
}
*[border-radius-50]{
    border-radius: 50%
}
*[width-percent-85]{
    width: 85%
}