.historyOfSearch{
    width: 75%;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    .historyCard{
        width: 100%;
        height: 500px;
        margin-bottom: 25px;
        padding: 20px;
        background: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

   
    }
}