<profile-item-top-place [title] = "topBarTitle"></profile-item-top-place>
<div class="historyOfSearch">
    <div class="historyCard" *ngFor = "let item of historyList">
        <p>{{item.date}}</p>
    <hr>
    <div class="historyItem" *ngFor = "let itm of item.histories">
        <div display-flex style="width: 100%;padding: 10px 5px">
            <div style="width: 15%">
                    <mat-checkbox style="margin-right: 20px"></mat-checkbox>
                    <span>{{itm.time}}</span>
            </div>
            <div style="width: 85%;"> {{itm.searchingText}}</div>
           </div>
    </div>
    </div>
</div>