<div class="login_page">
  <div class="login_place">
    <div class="for_login">
      <div class="login_form">
        <form class="md-float-material form-material forma" [formGroup]="loginForm">


          <div class="row m-b-20">
            <div class="col-md-12 titleOfForm">
              <h3>STATE YOUR VACATION WITH THE AIRLINES</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting.Lorem Ipsum has been the industry's standard
                dummy text ever when an unknown printer took a galley of type and scrambled it to </p>
            </div>
          </div>
          <div class="social_login">
            <div class="social_icons">
              <div class="gmail_icon">
                <div class="circle_of_gm">
                  <img src = "assets/assets/images/gmailIcon.png" width-percent-100 height-percent-100>
                </div>
              </div>
              <div class="facebook_icon">
                <div class="circle_of_fb">
                  <img src = "assets/assets/images/fbIcon.png" width-percent-100 height-percent-100>
                </div>
              </div>
            </div>
          </div>
          <div class="form-primary">
            <mat-form-field width-percent-100>
              <input matInput formControlName="email" placeholder="Your email address" class="forPlaceholder">
            </mat-form-field>
          </div>
          <!-- <span class="text-danger" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">Email required</span> -->
          <div class="form-primary">
            <mat-form-field width-percent-100>
              <input matInput formControlName="password" placeholder="Password" class="forPlaceholder">
            </mat-form-field>
          </div>
          <!-- <span class="text-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Password required</span> -->
          <div class="row text-left">
            <div class="col-12">
              <div class="checkbox-fade fade-in-primary d-">
                <a [routerLink]="['/registration']" class="text-left f-w-600" color-red> Registration</a>
              </div>
              <div class="forgot-phone text-right float-right">
                <a [routerLink]="['/forgot']" class="text-right f-w-600" color-red> Forgot Password?</a>
              </div>
            </div>
          </div>
          <div class="row m-t-25">
            <div class="col-md-12">

      <button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-15" mdbRippleRadius font-weight-bold (click) = "clickToLogin()">LOGIN</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <p class="text-inverse text-left">
                <a [routerLink]="['']">
                  <b>Back to website</b>
                </a>
              </p>
            </div>


          </div>
        </form>
      </div>
    </div>
    <div class="for_image">
      <div class="globus_image">
        <img src="/assets/assets/images/login.jpg" alt="">
      </div>
    </div>
  </div>
</div>