
.login_page{
    height: 100vh;
    width: 100%;
    display: flex;
    .login_place{
        width: 76%;
        height: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
  
        .for_login{
                height: 100%;
                width: 50%;   
                display: flex;
                .login_form{
                    width: 70%;
                    height: 80%;
                    margin:auto;
                    .forma{
                        padding: 0px 20px;
                    .titleOfForm{
                        h3{
                            object-fit: contain;
                            font-family: Arial;
                            font-size: 32px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            text-align: left;
                            color: #858585;
                        }
                        p{  margin-top: 20px;
                            object-fit: contain;
                            font-family: Arial;
                            font-size: 12px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.67;
                            letter-spacing: normal;
                            text-align: left;
                            color: #858585;
                        }
                    }
                    a{
                        color: #2699fb;
                    }
                    a:hover{
                        color: #f23d3d
                    }
                        
                    }
                }
        }
        .for_image{
            height: 100%;
            width: 50%;
            display: flex;
            .globus_image{
                height: 80%;
                width: 90%;
                margin: auto;
                img{
                    height: 50vh;
                    width: 30vw;
                }
              
            }
        }
    }
}
.btn-primary, .sweet-alert button.confirm, .wizard>.actions a {
    background-color: #2699fb;
    border-color: #2699fb;
    
}
.social_login{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 30px;
    .social_icons{
        width: 20%;
        height: 100%;
        margin: auto;
      
        display: flex;
        justify-content: space-between;
        .gmail_icon{
            width: 48%;
            height: 100%;
            display: flex;
            cursor:pointer;
            .circle_of_gm{
                width: 70%;
                height: 85%;
                border-radius: 50%;
                background: #f23d3d;
                margin: auto
            }
        }
        .facebook_icon{
            width: 48%;
            height: 100%;
            display: flex;
            cursor:pointer;
            .circle_of_fb{
                width: 70%;
                height: 85%;
                border-radius: 50%;
                background: #2699fb;
                margin: auto
            }
        }
    }
}
.forPlaceholder::placeholder{
  font-size: 12px !important;
  font-weight: bold !important;
  color: #858585 !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
   
   
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    

}

@media only screen and (min-width: 562px) and (max-width: 841px) {
    
   
}

@media only screen and (min-width: 0px) and (max-width: 562px) {
    
}