.about_us{
    width: 100%;
    height: 580px;
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .description{
            width: 49%;
            height: 100%;
            .title{
                width: 100%;
                height: 25%;
                display: flex;
                h1{
                    margin: auto 15px;
                    object-fit: contain;
                    font-family: Arial;
                    font-size: 32px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: #858585;
                 }   
            }
            .text{
                display: flex;
                max-height: 580px;
                p{
                    margin: 0 15px;
                    object-fit: contain;
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    text-align: left;
                    color: #858585;
                }
            }
        }
        .picture{
            width: 49%;
            height: 100%;
            display: flex;
            .img{
                margin: auto;
                height: 50%;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('/assets/assets/images/NoPath — копия (39)@2x.jpg')
            }
        }
    }
}