/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/app/com/styles/variables.scss";
@import '~swiper/dist/css/swiper.min.css';
body{
    background-color: #fff;
}
.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #808080cc !important;
} 
 .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #808080cc !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: #808080cc !important;
}
.mat-form-field .mat-focused .mat-form-field-label{
    background-color: #808080cc !important
}
 .mat-form-field .mat-focused .mat-form-field-label .ng-touched{
    background-color: #808080cc !important
}
mat-form-field .mat-form-field .ng-tns-c2-0 .mat-primary .mat-form-field-type-mat-input .mat-form-field-appearance-legacy .mat-form-field-can-float .mat-form-field-hide-placeholder .ng-touched .ng-dirty .mat-form-field-should-float .ng-valid .mat-focused{
    background-color: #808080cc !important
}
 .mat-form-field-label .ng-tns-c2-0 .ng-star-inserted .mat-empty .mat-form-field-empty{
    background-color: #808080cc !important;
}
 mat-form-field{
    .mat-form-field-wrapper{
        .mat-form-field-flex{
            .mat-form-field-infix{
                .mat-form-field-label-wrapper{
                    .mat-form-field-label .ng-tns-c2-0 .ng-star-inserted {
                        background-color: #808080cc !important;
                    }

                }
            }
        }
        .mat-form-field-can-float{
            color: #808080cc !important
        }
    }

}
 .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #2699fb !important
}



    .mat-input-element{
        caret-color:#808080cc;
    }
    .mat-form-field-outline-thick{
        color:#808080cc !important;
    }
    .mat-form-field-label{
        color:#808080cc !important;
    }

 .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #808080cc
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #7f7f7f !important;
}
.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet {
    border: 1px solid #7f7f7f !important;
}

.swiper-container-vertical .swiper-pagination-bullets {
    right: 40px !important;
  
}

.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle {

    padding: 0px !important;
    margin: 0px !important;

}