<div class="main_header">
    <div class="header_logo">
        <span>LOGO</span>
    </div>
    <div class="header_translation">
        <span>ENG/РУС/ՀԱՅ</span>
    </div>
    <div class="header_searching">
        <div class="searching">
            <input type="text" placeholder="Search...">
            <div class="search">
                <div class="search_bar">
                    <div class="vertical_line"></div>
                    <div class="search_icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="search_text">
                        <span>SEARCH</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_account">
        <div class="account_bar" cursor-pointer [routerLink]="['/login']">
            <div class="user_icon">
                <img src="assets/assets/images/ic_person_outline_24px@2x.png" alt="">
            </div>
            <div class="account">
                <span>ACCOUNT</span>
            </div>
        </div>
    </div>
    <div class="header_menu"  (clickOutside)="onClickedOutside($event)">
        <img src="assets/assets/images/ic_apps_24px@2x.png" alt="" cursor-pointer (click)="openMenu()">
        <div class="menuOfServices" *ngIf="menuForServices">
            <a>
                <span>CONTACT </span>
            </a>
            <a>
                <span>ABOUT US </span>
            </a>
            <a>
                <span>SERVICES </span>
            </a>
            <a>
                <span>STATISTICA</span>
            </a>
        </div>
    </div>
</div>