.main_header{
    width: 100%;
    height: 50px;
    display: flex;
    .header_logo{
        width: 7%;
        height: 100%;
        display: flex;
        span{
            margin: auto;
            font-size: 18px;
            color: white;
            font-weight: bold;
            line-height: 12px;
        }
    }
    .header_translation{
        width: 12%;
        height: 100%;
        display: flex;
        span{
          margin: auto;
          font-family: Arial;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #ffffff;
        }
    }
    .header_searching{
        width: 64%;
        height: 100%;
    }
    .header_account{
        width: 12%;
        height: 100%;
        display: flex;
        .account_bar{
            margin: auto;
            display: flex;
          .account{
              span{
                  margin: auto;
                  font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: normal;
                  color: #ffffff;
              }
            }
            .user_icon{
                img{
                    height: 16px;
                    width: 16px;
                    color: #fff;
                    margin-right: 13px;
                }
            }
        }
        
              
       
    }
    .header_menu{
      width: 5%;
      height: 100%;
			display: flex;
			position: relative;
      img{
          height: 20px;
          width: 20px;
          color: #fff;
          margin: auto
			}
			.menuOfServices{
				position: absolute;
				height: 100px;
				width: 160px;
				display: grid;
				background: white;
				top: 50px;
				right: 15px;
				z-index: 9999;
				border-radius: 10px;
				padding: 10px 20px;
				a{
					font-family: Arial;
					font-size: 12px;
					color: #b1b1b1;
					cursor: pointer
				}
				a:hover{
					span{
						border-bottom: 1px solid #b1b1b1
					}
				}

			}
    }
   
}
.searching {
	position: relative;
	.search {
	  position: absolute;
	  margin: auto;
	  top: 50px;
	  right: 0;
	  bottom: 0;
	  width: 110px;
	  height: 50px;
	
	  transition: all 1s;
	  z-index: 4;
	  display: flex;
	  .search_bar{
		  display: flex;
		  margin: auto;
		  .search_text{
			span{
				  margin: auto;
				  font-family: Arial;
				  font-size: 12px;
				  font-weight: bold;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1;
				  letter-spacing: normal;
			  	color: #ffffff;
			}
		  }
		  .search_icon{
			  i{
				  font-size: 16px;
				  color: #fff;
				  margin-right: 13px;
			  }
		  }

	  }
	  &:hover {
		cursor: pointer;
	  }
	
	}
	input {
	  font-family: 'Inconsolata', monospace;
	  position: absolute;
	  margin: auto;
	  top: 50px;
	  right: 0;
	  bottom: 0;
	
	  width: 50px;
	  height: 50px;
	  outline: none;
	  border: none;
	  background: white;
	  color: #2699fb;
	
	  padding: 0 80px 0 20px;
	  border-radius: 30px;
	 
	  transition: all 1s;
	  opacity: 0;
	  z-index: 5;
	  font-weight: bolder;
	  letter-spacing: 0.1em;
	  &:hover {
		cursor: pointer;
	  }
	  &:focus {
		width: 100%;
		opacity: 1;
		cursor: text;
	  }
	  &:focus ~ .search {
		right: 0px;
		background: white;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		z-index: 6;
		.search_bar{
			.vertical_line{
				height: 25px;
				border: 0.5px solid #2699fb;
				margin-right: 13px;
			}
			.search_text{
			  span{ 
				  color: #2699fb;
			  }
			}
			.search_icon{
				i{
					color: #2699fb !important;
				}
			}
		}
		&::before {
		  top: 50px;
		  width: 25px;
		}
		&::after {
		  top: 50px;
		
		  width: 25px;
		  height: 2px;
		  border: none;
		  background: white;
		  border-radius: 0%;
		  transform: rotate(-45deg);
		}
	  }
	  &::placeholder {
		color: white;
		
		font-weight: bolder;
	  }
	}
  }