<profile-item-top-place [title]="topBarTitle"></profile-item-top-place>
<div class="reviewsList">
    <div class="reviewItem" *ngFor="let item of reviews">
        <div class="dateAndTimeLine">
            <div class="time">
                <span>{{item.time}}</span>
            </div>
            <div class="date">
                <span>{{item.date}}</span>
            </div>
        </div>
        <div class="reviewLine">
            <div class="profileImage">
                <img src="assets/assets/images/profile.png" alt="">
            </div>
            <div class="textLine">
                <span>{{item.text}}</span>
            </div>
        </div>


    </div>
</div>