.reviewsList{
    height: 65%;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    .reviewItem{
        width: 100%;
        margin: 20px 0px;
        display: block;
        .dateAndTimeLine{
            width: 100%;
            position: relative;
            height: 25px;
            display: flex;
            .time{
                margin: auto;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #2699fb;
                }
            }
            
            .date{
                position: absolute;
                right: 40px;
                bottom: 0;
                span{  
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #2699fb;
                }
            }
            

        }
        .reviewLine{
            width: 100%;
            display: flex;
            .profileImage{
                width: 15%;
                img{
                    margin-left: 10px;
                    height: 46px;
                    width:  46px;
                }
               


            }
            .textLine{
                border-radius: 26px;
                padding: 15px 20px;
                height: fit-content;
                width: fit-content;
                background: #c5c5c5;
                span{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    color: #ffffff;
                }
            }
        }
    
       
    }
}
