.advertisements{
   width: 100%;
   height: 500px;
   margin-top: 638px;
   .container{
       height: 100%;
       .title{
           width: 100%;
           height: 8%;
           h1{
            font-family: Arial;
            font-size: 32px;
            font-weight: bold;
            letter-spacing: normal;
            text-align: right;
            color: #858585;
           }
       }
             .carousel{
                 height: 84%;
                 width: 100%;
             .tile {
                    height: 100%;
                    background-color: #ccc;
                    background-size: cover !important;
                    .infoState{
                        width: 90%;
                        height: 140px;
                        margin: auto;
                        background: rgba(255, 255, 255, 0.78);
                        position: absolute;
                        top: 220px;
                        left: 0;
                        padding: 25px 30px;
                        bottom: 0;
                        right: 0;
                        h5{
                           
                            font-family: Arial;
                            font-size: 20px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.5;
                            letter-spacing: normal;
                            text-align: left;
                            color: #2699fb;
                        }
                        p{
                            margin-top: 30px;
                            color: #2699fb;
                            font-family: Arial;
                            font-size: 11px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.09;
                            letter-spacing: normal;
                            text-align: left;
                        }
                    }

                }

                .tile h1 {
                    text-align: center;
                    line-height: 200px;
                    background: rgba(0, 0, 0, 0.32);
                    color: white;
                    margin: 0;
                }
                .leftRs {
                    position: absolute;
                    margin: auto;
                    top: -40px;
                    left: 10px;
                    width: 80px;
                    height: 10%;
                    background: #2699fb;
                    display: flex !important;
                    i{
                        margin: auto;
                        color: #ffffff;
                    }
                }
                
                
                .rightRs {
                    position: absolute;
                    margin: auto;
                    top: -40px;
                    left: 93px;
                    width: 80px;
                    height: 10%;
                    background: #2699fb;
                    display: flex !important;
                    i{
                        margin: auto;
                        color: #ffffff;
                    }
                }
            }
            .button{
                width: 100%;
                text-align: right;
                height: 8%;
                .btn{
                    height: 100%;
                    width: 15%;
                    background: #f23d3d;
                    border-radius: 10px;
                    border: none;
                    .seeMoreCountries{
                        font-family: Arial;
                        font-size: 12px;
                        font-weight: bold;
                        color: #ffffff;
                    }
                }
                
            }
   }
}
:host ::ng-deep ngx-carousel{
    height: 100% !important;
}
:host ::ng-deep .ngxcarousel{
    height: 100% !important
}
:host ::ng-deep .ngxcarousel-inner{
    height: 100% !important
}
:host ::ng-deep .ngxcarousel-items{
    height: 100% !important;
    .item {
        width: 25% !important;
        height: 100% !important;
        .tile{
            height: 100% !important
        }
    }
}

