<div class="advertisements">
    <div class="container">
        <div class="title">
            <h1>STATE YOUR VACATION WITH THE AIRLINES</h1>
        </div>
        <div class="carousel">
                <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad()">
                        <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileItems; let i = index;">
                            <div class="tile" [style.background]="'url(' + tile.img + ')'" style="position: relative">
                              <div class="infoState">
                                  <h5>Excepteur sint occaecat</h5>
                                  <p>for Company name</p>
                              </div>
                            </div>
                        </ngx-tile>
                        <div NgxCarouselPrev class="leftRs">
                                <i class="material-icons" cursor-pointer>
                                        arrow_back_ios
                                    </i>
                        </div>
                        <div NgxCarouselNext class="rightRs">
                                <i class="material-icons" cursor-pointer>
                                        arrow_forward_ios
                                    </i>
                        </div>
                    </ngx-carousel>
        </div>
        <div class="button">
            <button class="btn" >
                <span class="seeMoreCountries" (click) = "goToCountriesPage()">SEE MORE</span>
            </button>
        </div>
           
    </div>
</div>